<nav class="desk">
    <h1>The Show Off</h1>
    <h3 class="line">_______________</h3>
    <ul role="list" class="desk-nav">
        <li>
            <a href="/" class="nav-item-desk">Home</a>
        </li>
        <li>
            <a href="/blog/" class="nav-item-desk">Recommended</a>
        </li>
        <li>
            <a href="https://flourishing-conkies-4ccdb4.netlify.app/admin/#/" class="nav-item-desk">Login</a>
        </li>

    </ul>
</nav>
